<!DOCTYPE html>
<html>
  <head>
    <title><%= logo %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,500|Montserrat+Alternates:500|Playfair+Display+SC&display=swap" rel="stylesheet">

    <%= stylesheet_pack_tag    'layout' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag    'application' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag    'application' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
